.header-root {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: solid 0.5px white;
  color: white;
  font-weight: 600;
  z-index: 10;
}

.header-root img {
  margin: 0 16px;
}

.header-root #twitter-logo {
  height: 40px;
  margin: 0 16px;

  &:hover {
    opacity: 0.8;
  }
}

.header-links__list li {
  border-right: solid 0.5px #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    border-right: 0;
  }
}

.dropdown {
  font-weight: bold;
  &:after {
    font-family: "FontAwesome";
    content: "\25be";
    transform: rotate(-45deg);
  }
}
